@charset "utf-8";
/* CSS Document */

body {
    padding-bottom: 30px;
    color: #333333;
    line-height: 20px;
    margin: 0;
}
html {
    font-size: 100%;
}
.container {
    width: 980px;
    background: #FBFBFB;
    border: 1px solid #FAFAFA;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 0px 50px rgba(14, 6, 32, 0.118);
    margin-left: auto;
    margin-right: auto;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
h2 {
    font-size: 31.5px;
}
h1, h2, h3 {
    line-height: 40px;
}
h3 {
    font-size: 24.5px;
}
h2 small {
    font-size: 17.5px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    text-rendering: optimizelegibility;
}
a {
    color: #0088CC;
    text-decoration: none;
}
.thumbnails {
    margin-left: -30px;
     list-style: none outside none;
}
ul{
margin: 5px !important;
 padding: 0;
}
.thumbnails > li {
    margin-left: 30px;
}
.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.span3 {
    width: 270px;
}
li {
    line-height: 20px;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
    min-height: 1px;
}
.version {
    font-size: 14px !important;
    color:#848484;
}
.benchmark{
margin:9px;padding: 10px;float:right; border: 1px dashed #CCCCCC;color: #ABABAB;
}
p {
     color: #ABABAB;
    font-size: 17px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
     border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-left: 0 none;
    border-right: 0 none;
     border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;

}
.span8 {
    margin-left:84px !important;
}
.span3 {

}
.features-head {
    background: none repeat scroll 0 0 #F3F3F3;
     margin-top: -26px;
    height:50px;
    text-decoration: none;
}
.features .thumbnails li img {
    background-color: #F4F4F4;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #EBEBEB);
    background-repeat: repeat-x;
    border: 1px solid #E6E6E6;
    border-radius: 2px 2px 2px 2px;
}

.features .thumbnails li img {
    background-color: #F4F4F4;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #EBEBEB);
    background-repeat: repeat-x;
    border: 1px solid #E6E6E6;
    border-radius: 2px 2px 2px 2px;
}

.header {
    background: none repeat scroll 0% 0% rgb(75, 147, 212);
    border-top: 1px solid #55A79A;
    color: #242424;
    height: 138px;
    padding: 10px 0;
}
 .title a {
    margin-left:8px !important;
    text-decoration: none !important;
    padding-left: 16px;
      /*  font-weight: bold;*/
}
.title-em {
  /*  font-weight: bold;*/
    color: rgba(51, 51, 51, 0.8);
    color:rgba(102, 132, 124, 1.00);
}

a .title-em {
  /*font-weight: bold; */
  color: rgba(85, 167, 154, 0.8);
}
.em {
  font-weight: bold;
}

.title-divider {
  text-align: left;
  margin-bottom: 1em;
  background: #FBFBFB;
  padding: 0;
}
.title-divider span {
  background: #FAFAFA;
  padding-right: 0.5em;
  font-weight:normal;
}
.title-divider small {
  display: block;
  color: rgba(51, 51, 51, 0.6);
}
.feature-block {
     border: 1px solid #29A9FF;

}
.feature-block:hover{
    box-shadow: 0 0 1px 1px #FFFFFF inset, 0 0 10px 5px #D2EDFF inset;
}
.feature-block p {
    height: 121px;
    padding: 5px 5px 5px 22px;
}
/* New style end */

.feature-title{
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.discover-title{

}

h3 {
color:#666 !important;
font-size: 30px;
font-weight:500 !important;
line-height: 35px;
}
h2 {
color:#666 !important;
font-size: 38px;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: lighter !important;
line-height: 35px;
}
.clear {
clear:both;
}
.brand {
margin-left:20px;
}
.social {
    float: left;
    padding-top: 2px;
    width: 70%;
}
.social-share {
background-color:#1570a6;
height:60px;
border-top:3px solid;
border-top-color: #55A79A;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 1px 2px 0px #005187;
}
.social-share-left {
    float: left;
    height: 60px;
    width: 18%;
}
.social-share-right {
    float: left;
    height: 60px;
    width: 12%;
}
.social-folllow-box{
height:60px;
width:100px;
/*margin-left:363px;*/
padding-top: 24px;
color:#FFF;
font-weight:bold;
}

.social-box{
height:60px;
width:163px;
margin-top:-2px;
color:#fff;
}
.social-box .fb a:hover {
background: url('img/share/facebook_active.png');
}

.social-box a:hover, .social-box img:hover  {
        opacity:0.66;
}
.hrule {
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #EEEEEE -moz-use-text-color #666;
border-left: 0 none;
border-right: 0 none;
border-style: solid none;
border-width: 1px 0;
margin:0px;
}


.footer {
    color: rgba(255, 255, 255, 0.6);
    min-height: 200px;
    width:100%;
    color:#7C7C7C!important;

}

.footer-inner-left {
    float: left;
    height: 197px;
    width: 19%;
}
.footer-inner {
    float: left;
    height: 187px;
    padding-top: 10px;
    width: 59%;
}
.footer-inner-right {
    float: left;
    height: 197px;
    width: 20%;
}
.tweets {
    float: left;
    height: 138px;
    margin: 5px 0 0 13px;

}
.footer-hr {
    border-top: 1px dotted rgba(255, 255, 255, 0.1) !important;
    margin-top: 1em;
    padding-top: 1em;
}

.features {
width:95%;
height:518px;
alignment-adjust:central;
margin: 0 auto 20px;
}

.light-blue {
color:#337B8D !important;
}

.bg-title{
border: 1px solid #DDDDDD;
background:#F0F0F0;
}